<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title | raw }}</title>
    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/favicon.ico" />
    <link rel="icon" type="image/ico" href="{{ base_url() }}assets/css/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <meta property="og:url"                content="http://microad.co.id" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Welcome to MicroAd Indonesia" />
    <meta property="og:description"        content="PT. MicroAd Indonesia is a subsidiary of MicroAd, Inc. from Japans.

We are a full service digital agency, uniquely known for our advanced online advertising technologies from Japan. Here in Indonesia, we offer complete digital services,from integrated digital campaign to all categories of digital marketing such as creative web/mobile development, performing ads, social media, and viral video marketing.

Smart. Creative. Dynamic. The one-stop solution for your digital marketing needs.

Overcome obstacles. Consult us today." />
    <meta property="og:image" content="http://microad.co.id/assets/css/images/mai-web-bg.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="description" content="{{ meta_desc | raw }}">
    <meta name="keywords" content="{{ meta_keyword | raw}}">
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/magic.min.css') | raw }}
        {{ asset_css('custom/main.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    {% block frontend_content %}
    {% endblock %}

    {% block frontend_js %}
        {{ asset_js('vendor/jquery.min.js') | raw }}
        {{ asset_js('parallax.js') | raw }}
        {{ asset_js('publish/edge_includes/edge.6.0.0.min.js') | raw }}
        <script>
            AdobeEdge.loadComposition('publish/tokyo-eye', 'EDGE-7814028', {
                scaleToFit: "none",
                centerStage: "none",
                minW: "0px",
                maxW: "undefined",
                width: "175px",
                height: "175px"
            }, {"dom":{}}, {"style":{"${symbolSelector}":{"isStage":"true","rect":["undefined","undefined","175px","175px"],"fill":["rgba(255,255,255,1)"]}},"dom":{}});
        </script>
        <script>
            AdobeEdge.loadComposition('publish/tokyo-crane', 'EDGE-14088978', {
                scaleToFit: "none",
                centerStage: "none",
                minW: "0px",
                maxW: "undefined",
                width: "291px",
                height: "148px"
            }, {"dom":{}}, {"dom":{}});
        </script>
        <script>
            AdobeEdge.loadComposition('publish/tokyo-shinkansen', 'EDGE-15798491', {
                scaleToFit: "none",
                centerStage: "none",
                minW: "0px",
                maxW: "undefined",
                width: "4000px",
                height: "56px"
            }, {"dom":{}}, {"dom":{}});
        </script>
    {% endblock %}
</body>
</html>