{% extends "backend/template.twig" %}

{% block backend_css %}
	{{ parent() }}
	<!-- dataTables css -->
	{{ asset_css('datatables/dataTables.bootstrap.css') | raw }}
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{# Set page title and subtitle manually #}
		Admin Management
		<small>Admin User</small>
	</h1>
	{# Also set breadcrumb manually #}
	<ol class="breadcrumb">
		<li><a href="{{ base_url() }}backend">Home</a></li>
		<li>Admin Management</li>
		<li class="active">Admin User</li>
	</ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ error_message | raw }}
</div>
{% endif %}

	<div class="box box-solid">
		<div class="box-body text-right">
			<a href="{{ base_url() }}backend/admin-user/add">
				<button class="btn btn-default">Create</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive">
					<table id="table-admin-user" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Admin ID</th>
							<th>Email</th>
							<th>Fullname</th>
							<th>Phone</th>
							<th>Status</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for admin in admin_list %}
						<tr>
							<td>{{ admin.id }}</td>
							<td>{{ admin.email }}</td>
							<td>{{ admin.fullname }}</td>
							<td>{{ admin.phone }}</td>
							<td>{{ admin.get_status_name() }}</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{{ base_url() }}backend/admin-user/edit/{{ admin.id }}">Edit</a></li>
										<li><a class="btn-reset-password" data-url-reset-password="{{ base_url() }}backend/admin-user/reset-password/{{ admin.id }}" href="#">Reset Password</a></li>
										<li><a class="btn-delete" data-url-delete="{{ base_url() }}backend/admin-user/delete/{{ admin.id }}" href="#">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	<!-- page script -->
	<script type="text/javascript">
		$(function() {
			$("#table-admin-user").dataTable( {
				"aoColumns": [ 
					null,
					null,
					null,
					null,
					null,
					{ "bSearchable": false, "bSortable": false }
				]
			} );
		} );
	</script>
	<!-- Dialog Confirmation Script -->
	{{ asset_js('backend-dialog.js') | raw }}
	<script type="text/javascript">
		jQuery('#table-admin-user').on('click', '.btn-delete', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-delete');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to delete this?', yes_callback);
		});
		jQuery('#table-admin-user').on('click', '.btn-reset-password', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-reset-password');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to reset password?', yes_callback);
		});
	</script>
{% endblock %}