<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}/assets/css/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="{{ base_url() }}/assets/css/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('custom/component.css') | raw }}
        {{ asset_css('jquery.bxslider.css') | raw }}
        {{ asset_css('custom/slick.css') | raw }}
        {{ asset_css('custom/slick-theme.css') | raw }}
        {{ asset_css('custom/style.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div id="container" class="container intro-effect-sliced">
    <div class="business-banner header">
        <div class="bb-image bg-img">
            <img src="{{ base_url }}assets/css/images/business-banner.jpg"/>
        </div>
        <div class="bb-title">
            <div class="small-12 columns">
                <h1>Business</h1>
            </div>
            <div class="small-12 columns">
                <div class="white-box"></div>
            </div>
            <div class="small-12 medium-6 columns">
                <div class="chord">
                    {#Challenge, Humble, Open<br/>
                    Respect, Discipline.#}
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="bb-intro" id="about">
            <div class="small-12 medium-7 columns bbi-image no-padding">
                <div style="height: 126px;"></div>
                <img src="{{ base_url() }}assets/css/images/microad-office.jpg"/>
                <img src="{{ base_url() }}assets/css/images/mozaik-top.jpg"/>
            </div>
            <div class="small-12 medium-5 columns">
                <div style="height: 70px;"></div>
                <div class="bbi-title">
                    <span>MicroAd</span>
                    <hr/>
                    Indonesia
                </div>
            {% for preface in preface_content %}    
                <div class="bbi-content">
                    <p>
                        {{ preface.content }}
                    </p>
                </div>
            {% endfor %}
                <div class="sign">
                    <img src="{{ base_url() }}/assets/css/images/sign.png"/>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="bb-image bg-img">
            <img src="{{ base_url }}assets/css/images/business-banner.jpg"/>
        </div>
    </div>
    <div style="height: 100px;"></div>
    <div class="content">
        <div class="project-wrapper" id="project">
            <div class="small-12 columns no-padding">
                <div class="project">
                    <div class="pro-title-wrapper">
                        <div class="pro-title">
                            <div class="pt-item">
                                Portfolio
                            </div>
                        </div>
                    </div>
                    <div class="slider1">
                    {% for portfolio in portfolio_data %}
                        <div class="slide">
                            <a href="{{ base_url() }}business/project/{{ portfolio.slug }}">
                                <div class="small-12 columns symbol">
                                    <img src="{{ base_url() }}assets/css/images/symbol.png"/>
                                </div>
                                <div class="small-12 columns ss-content">
                                    <div class="ss-port">
                                        {{ portfolio.client }}
                                    </div>
                                    {#<img src="{{ base_url() }}media/portfolio/{{ portfolio.image }}"/>#}
                                </div>
                                <div style="clear: both;"></div>
                            </a>
                        </div> 
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="partner" id="client">
            <div class="small-12 medium-2 columns p-title">
                <div class="pt-left">
                    They Trust Us
                </div>
            </div>
            <div class="small-12 medium-10 columns">
                <div class="small-up-1 medium-up-2 large-up-4">
                {% for client in client_logo %}
                    <div class="column">
                        <a href="{{ client.url }}"><img src="{{ base_url() }}media/client/{{ client.image }}" class="thumbnail" alt=""></a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="back-sign">
            <div class="small-12 medium-offset-2 medium-10 columns">
                <div class="small-12 medium-3 columns" style="text-align: center;">
                    <img src="{{ base_url() }}/assets/css/images/back-sign.png"/>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="capabilities" data-equalizer="cap" id="capab">
            <div class="small-12 medium-6 columns no-padding" data-equalizer-watch="cap">
                <div class="cap-wrap-left">
                    <div class="small-12 medium-7 columns no-padding relative">
                        <div class="cap-image">
                            <img src="{{ base_url }}assets/css/images/capabilities-image.jpg"/>
                        </div>
                        <div class="cap-tag">
                            {##Integrated Digital Marketing Campaign<br/>
                            #Web & Mobile Apps Development<br/>
                            #Social Media & Viral Marketing<br/>
                            #Search Engine Optimization<br/>
                            #Digital Ads Placement<br/>
                            #Ad Platforms#}
                        </div>
                    </div>
                    <div class="small-12 medium-5 columns no-padding relative">
                        <div class="cap-title">
                            <h3>CAPABILITIES</h3>
                        </div>
                        <div class="cap-slide">
                            <div class="cs-item">
                            {% for capability in capability_data %}
                                <div class="small-12 medium-4 columns">
                                    <a data-slide-index="{{ loop.index - 1 }}" href="">
                                        <div class="csi-image">
                                            <img src="{{ base_url() }}media/capability/{{ capability.image }}" alt="" />
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div class="cap-arrow">
                            <span id="slider-prev"></span>
                            <span id="slider-next"></span>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="just-image">
                        <img src="{{ base_url() }}/assets/css/images/cap-image-example.jpg"/>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns cap-desc-wrap" data-equalizer-watch="cap">
                <div class="cap-desc">
                    <div class="cd-item">
                    {% for capability in capability_data %}
                        <div class="cd-content">
                            <div class="cdc-item">
                                <h3>{{ capability.name }}</h3>
                                <img src="{{ base_url }}assets/css/images/business-dot.png"/>
                                <p>
                                    {{ capability.desc }}
                                </p>
                            </div>       
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="sign">
                    <img src="{{ base_url() }}/assets/css/images/sign.png"/>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="people" data-equalizer="people" id="peop">
            <div class="small-12 medium-6 columns no-padding people-desc" data-equalizer-watch="people" >
                <div class="pd-desc">
                    {% for ourpeople in ourpeople_content %}
                        {{ ourpeople.content1 }}
                    {% endfor %}
                </div>
                <div class="pd-image">
                    <img src="{{ base_url() }}/assets/css/images/city-bottom.jpg" style="width: 100%;"/>
                </div>
            </div>
            <div class="small-12 medium-6 columns people-title" data-equalizer-watch="people">
                <div class="pd-title">
                    Our <br/> People
                </div>
                <div class="pd-line"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="mai-member">
            <div class="small-12-columns no-padding">
                <img src="{{ base_url() }}/assets/css/images/mai-member.jpg" style="width: 100%;"/>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="people-subhead" data-equalizer="desc">
            <div class="small-12 medium-6 columns no-padding" data-equalizer-watch="desc">
                <img src="{{ base_url() }}/assets/css/images/after-people.jpg" style="width: 100%;"/>
            </div>
            <div class="small-12 medium-6 columns no-padding">
                <div class="small-10 columns people-detail" data-equalizer-watch="desc">
                    {% for ourpeople in ourpeople_content %}
                        {{ ourpeople.content2 }}
                    {% endfor %}
                </div>
                <div style="clear: both;"></div>
                <div class="back-sign">
                    <img src="{{ base_url() }}/assets/css/images/back-sign.png"/>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div class="product" id="platform">
            <div class="product-title">
                <div class="small-12 medium-11 medium-offset-1 columns p-title">
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="p-items">
                <div class="pi-blog">
                    <div class="small-12 medium-1 columns">
                        <div style="opacity: 0;">They Trust Us</div>
                    </div>
                {% for businessunit in businessunit_data %}
                    <div class="small-12 medium-5 columns">
                        <div class="small-12 medium-2 columns no-padding pib-title">
                            {#{{ businessunit.name }}#}
                        </div>
                        <div style="clear: both;"></div>
                        <div class="small-12 medium-2 columns no-padding">
                            <img src="{{ base_url() }}assets/css/images/logo-bblog.png"/>
                        </div>
                        <div class="small-12 medium-10 columns pib-content">
                            {{ businessunit.desc }}
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <img src="{{ base_url() }}media/businessunit/{{ businessunit.image }}" style="width: 100%;"/>
                    </div>
                {% endfor %}
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="contact-wrap" id="contact">
            <div class="contact-wrapper">
                <div class="cw-excerpt">
                    <div class="small-12 medium-offset-1 medium-3 columns">We’re very approachable and would love to speak to you. Feel free to call, send us an email, simply complete the enquiry form.</div>
                    <div style="clear: both;"></div>
                </div>
                <div class="cw-content">
                    <div class="small-12 medium-offset-1 medium-4 columns">
                        <div class="cwc-step">
                            <div class="small-12 columns no-padding">
                                <div class="cwc-dropcap">01/</div>
                                <div>Get<br/> in Touch</div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="cwc-detail">
                            PT. MicroAd Indonesia<br/>
                            Indosurya Plaza/Thamrin Nine, Floor 3A<br/>
                            Jl. M.H. Thamrin No. 8 - 9<br/>
                            Jakarta Pusat 10230 - Indonesia<br/>
                            <br/>
                            <br/>
                            P : +6221 293 88488<br/>
                            F : +6221 293 88489<br/>
                            <a href="mailto:{{ config('config_basic.contact_us_email_to') }}">{{ config('config_basic.contact_us_email_to') }}</a><br/>
                        </div>
                    </div>
                    <div class="small-12 medium-offset-3 medium-3 end columns">
                        <div class="cwc-step">
                            <div class="small-12 columns no-padding">
                                <div class="cwc-dropcap">02/</div>
                                <div>Send Us<br/> A Message</div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="cwc-form">
                            <form action="" method="post" data-abide="ajax" id="contact-form">
                                <div class="small-12 columns no-padding {{ err_msg.name | length > 0 ? 'error' : '' }}">
                                    <input type="text" id="name" name="name" placeholder="name" value="{{ post_data.name }}">
                                </div>
                                <div class="small-12 columns no-padding {{ err_msg.email | length > 0 ? 'error' : '' }}" value="{{ post_data.email }}">
                                    <input type="email" id="email" name="email" placeholder="email">
                                </div>
                                <div class="small-12 columns no-padding {{ err_msg.message | length > 0 ? 'error' : '' }}">
                                    <textarea id="message" name="message" placeholder="message">{{ post_data.message }}</textarea>
                                </div>
                                <div class="small-12 columns no-padding">
                                    <div class="g-recaptcha" data-sitekey="6LdFxB0TAAAAAH9aDoQwpdwUzYEePO0QhJAV-m1G"></div>
                                </div>
                                <div>
                                    {{ contact_success_message }}
                                </div>
                                <div class="small-12 columns no-padding text-right">
                                    <button type="send">Submit</button>
                                </div>
                                <div style="clear: both;"></div>
                            </form>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav id="main-nav">
    <div id="logo-mai">
        <div class="lm-image">
            <a href="{{ base_url() }}"><img src="{{ base_url() }}assets/css/images/logo-mai.png"/></a>
        </div>
    </div>
    <div class="nav-menu">
        <div class="nm-item nm-normal">
            <a id="aboutButton" href="#about">About</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="portButton" href="#project">Portfolio</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="clientButton" href="#client">Client</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="capButton" href="#capab">Capabilities</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="peopButton" href="#peop">People</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="platformButton" href="#platform">Platform</a>
        </div>
        <div class="nm-culture">
            <a href="{{ base_url() }}culture">Culture</a>
        </div>
        <div class="nm-item nm-contact">
            <a id="contactButton" href="#contact">Contact</a>
        </div>
        {#<div class="nm-item separator">
            <a href="#career">Career</a>
        </div>#}
        <div class="nm-item">
            <a href="https://www.microad.co.jp/en/" target="_blank">MicroAd Japan</a>
        </div>
    </div>
</nav>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('classie.js') | raw }}
    {{ asset_js('jquery.easing.1.3.js') | raw }}
    {{ asset_js('jquery.bxslider.min.js') | raw }}
    {{ asset_js('slick.min.js') | raw }}
    {{ asset_js('app.js') | raw }}
{% endblock %}

<script>
    $('.slider1').bxSlider({
        slideWidth: 216,
        minSlides: 1,
        maxSlides: 5,
        moveSlides: 1,
        auto:true,
        pager:true,
        slideMargin: 100
    });
   {# $('.form-group .alert-danger').css("display","none");
        var flagCaptcha = false;

        var recaptchaCallback = function() {
            flagCaptcha = true;
    };
        
    $('#contact-form').on('valid.fndtn.abide', function() {
        if (flagCaptcha) {
            $(this).submit();
        }
    });#}

    $('.contact-wrapper').css('height',$( window ).height());
    $( window ).resize(function() {
        $('.contact-wrapper').css('height',$( window ).height());
    });

    (function($){

        var jump=function(e)
        {
            if (e){
                e.preventDefault();
                var target = $(this).attr("href");
            }else{
                var target = location.hash;
            }

            $('html,body').animate(
                    {
                        scrollTop: $(target).offset().top
                    },1000,function()
                    {
                        location.hash = target;
                    });

        }

        $('html, body').hide()

        $(document).ready(function()
        {
            $('a[href^=\\#]').bind("click", jump);

            if (location.hash){
                setTimeout(function(){
                    $('html, body').scrollTop(0).show()
                    jump()
                }, 0);
            }else{
                $('html, body').show()
            }
        });

    })(jQuery)
</script>
</body>
</html>

