<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    {#<title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">#}
    <meta property="og:url"                content="http://microad.co.id" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Welcome to MicroAd Indonesia" />
    <meta property="og:description"        content="PT. MicroAd Indonesia is a subsidiary of MicroAd, Inc. from Japan.

We are a full service digital agency, uniquely known for our advanced online advertising technologiesfrom Japan. Here in Indonesia, we offer complete digital services,from integrated digital campaign to all categories of digital marketing such as creative web/mobile development, performing ads, social media, and viral video marketing.

Smart. Creative. Dynamic. The one-stop solution for your digital marketing needs.

Overcome obstacles. Consult us today." />
    <meta property="og:image"              content="http://microad.co.id/assets/css/images/mai-web-bg.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/logo_aio.png" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('custom/component.css') | raw }}
        {{ asset_css('jquery.bxslider.css') | raw }}
        {{ asset_css('custom/slick.css') | raw }}
        {{ asset_css('custom/slick-theme.css') | raw }}
        {{ asset_css('custom/weather.css') | raw }}
        {{ asset_css('custom/style.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body id="culture">
<div id="weather" class="small-12 columns"></div>
<div class="culture">
    <div class="culture-1">
        <div class="c1-wrap">
            <div class="culture-title">
                <div class="small-12 columns">Culture</div>
                <div style="clear: both;"></div>
            </div>
            <img src="{{ base_url() }}assets/css/images/culturefirstview1.png" style="width: 100%;"/>
            <div class="c1-left">
                <div class="small-12 columns">
                    {{ indonesia[0] }}
                </div>
                <div class="small-12 columns">
                    <div id="jkt-time" class="c1l-time">{{ indonesia[1] }}</div>
                    <div class="c1l-region">Jakarta</div>
                </div>
                {#<div class="small-12 columns">
                    <div class="c1l-time">{{ singapore }}</div>
                    <div class="c1l-region">Singapore</div>
                </div>
                <div class="small-12 columns">
                    <div class="c1l-time">{{ thailand }}</div>
                    <div class="c1l-region">Bangkok</div>
                </div>
                <div class="small-12 columns">
                    <div class="c1l-time">{{ vietnam }}</div>
                    <div class="c1l-region">Ho Chi Minh</div>
                </div>#}
                {#<div class="small-12 columns">
                    <div class="c1l-time">{{ philippines }}</div>
                    <div class="c1l-region">Taguig</div>
                </div>#}
                <div style="clear: both;"></div>
            </div>
                    
            <div class="c1-right">
                <div class="small-12 columns">
                    <div class="c1r-icon">
                        <div class="icon">
                        {#{% if cloud_jkt > '35' %}#}
                            <div class="cloud"></div>
                            <div class="rain"></div>
                        {#{% endif %}#}
                        {#{% if cloud_jkt == '35' %}#}
                            <div class="rain"></div>
                            <div class="cloud"></div>
                        {#{% endif %}#}
                        {#{% if cloud_jkt < '35' %}#}
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                        {#{% endif %} #}
                        </div>
                        30 °C
                    </div>   
                    <div class="c1r-region">Jakarta</div>
                </div>
                {#<div class="small-12 columns">
                    <div class="c1r-icon">
                        <div class="icon">
                        {% if cloud_sin > '35' %}
                            {% if cond_sin == 'sun' %}
                                <div class="cloud"></div>
                                <div class="sun">
                                    <div class="rays"></div>
                                </div>
                            {% endif %}
                            {% if cond_sin == 'lightning' %}
                                <div class="cloud"></div>
                                <div class="lightning">
                                    <div class="bolt"></div>
                                    <div class="bolt"></div>
                                </div>
                            {% endif %}
                            {% if cond_sin == 'rain' %}
                                <div class="cloud"></div>
                                <div class="rain"></div>
                            {% endif %}
                        {% endif %}
                        {% if cloud_sin == '35' %}
                            <div class="{{ cond_sin }}"></div>
                            <div class="cloud"></div>
                        {% endif %}
                        {% if cloud_sin < '35' %}
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                        {% endif %}
                        </div>
                        {{ temp_sin }} °C
                    </div>
                    <div class="c1r-region">Singapore</div>
                </div>
                <div class="small-12 columns">
                    <div class="c1r-icon">
                        <div class="icon">
                        {% if cloud_tyo > '35' %}
                            {% if cond_tyo == 'sun' %}
                                <div class="sun">
                                    <div class="rays"></div>
                                </div>
                            {% endif %}
                            {% if cond_tyo == 'snow' %}
                                <div class="cloud"></div>
                                <div class="snow">
                                    <div class="flake"></div>
                                    <div class="flake"></div>
                                </div>
                            {% endif %}
                            {% if cond_tyo == 'rain' %}
                                <div class="cloud"></div>
                                <div class="rain"></div>
                            {% endif %}
                        {% endif %}
                        {% if cloud_tyo == '35' %}
                            {% if cond_tyo == 'snow' %}
                                <div class="snow">
                                    <div class="flake"></div>
                                    <div class="flake"></div>
                                </div>
                                <div class="cloud"></div>
                            {% endif %}
                            <div class="{{ cond_tyo }}"></div>
                            <div class="cloud"></div>
                        {% endif %}
                        {% if cloud_tyo < '35' %}
                            {% if cond_tyo == 'sun' %}
                                <div class="sun">
                                    <div class="rays"></div>
                                </div>
                            {% endif %}
                            {% if cond_tyo == 'snow' %}
                                <div class="snow">
                                    <div class="flake"></div>
                                    <div class="flake"></div>
                                </div>
                            {% endif %}
                        {% endif %}
                        </div>
                        {{ temp_tyo }} °C
                    </div>
                    <div class="c1r-region">Tokyo</div>
                    <div style="clear: both;"></div>
                </div>#}
            </div>
        </div>
    </div>
    <div class="culture-1">
        <div class="about">
            {% for about in about_maizen %}
            <div class="abl-image">
                <img src="{{ base_url }}assets/css/images/about-image.jpg" style="width: 100%;"/>
            </div>
            <div class="small-12 medium-6 columns ab-left" style="padding-left: 0;">
                <div class="ab-title">
                    {{ about.header }}
                </div>
                <div class="abl-image" style="bottom: 50px; top: auto; z-index: -2;">
                    <img src="{{ base_url }}assets/css/images/ab-image.jpg" style="width: 100%;"/>
                </div>
            </div>
            <div class="small-12 medium-6 columns ab-right">
                <div class="abr-quote">
                    We believe in C.H.O.R.D
                </div>
                <div class="abr-detail">
                    {{ about.content }}
                </div>
            </div>
            <div style="clear: both;"></div>
        {% endfor %}
        </div>
    </div>
    <div class="culture-1">
        <div class="news" id="news-content">
            <div class="ne-back">
            </div>
            <div class="ne-content">
                <div class="ne-title">
                    <h1>News</h1>
                </div>
                <div class="ne-detail">
                    <div class="ned-image">
                        <img src="{{ base_url() }}assets/css/images/news-image.jpg" style="width: 100%;"/>
                    </div>
                    <div class="ned-content">
                        <div class="small-12 medium-2 columns no-padding">
                            <div class="nedc-title">
                            </div>
                            <div class="nedc-detail">
                            </div>
                        </div>
                    {% for news in news_data %}
                        {% if news.seq == 1 %}
                        <div class="small-12 medium-2 columns no-padding last-history">
                            <div class="nedc-title">
                                {{ news.year }}<br/>
                                {{ news.month }} ‘{{ news.day }}
                            </div>
                            <div class="nedc-detail">
                                {{ news.highlight }} <a href="{{ base_url() }}culture/news/{{ news.slug }}">...read more</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if news.seq == 2 %}
                        <div class="small-12 medium-2 columns no-padding third">
                            <div class="nedc-title">
                                {{ news.year }}<br/>
                                {{ news.month }} ‘{{ news.day }} 
                            </div>
                            <div class="nedc-detail">
                                {{ news.highlight }} <a href="{{ base_url() }}culture/news/{{ news.slug }}">...read more</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if news.seq == 3 %}
                        <div class="small-12 medium-2 columns no-padding second">
                            <div class="nedc-title">
                                {{ news.year }}<br/>
                                {{ news.month }} ‘{{ news.day }}
                            </div>
                            <div class="nedc-detail">
                                {{ news.highlight }} <a href="{{ base_url() }}culture/news/{{ news.slug }}">...read more</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if news.seq == 4 %}
                        <div class="small-12 medium-2 columns no-padding">
                            <div class="nedc-title">
                                {{ news.year }}<br/>
                                {{ news.month }} ‘{{ news.day }}
                            </div>
                            <div class="nedc-detail">
                                {{ news.highlight }} <a href="{{ base_url() }}culture/news/{{ news.slug }}">...read more</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if news.seq == 5 %}
                        <div class="small-12 medium-2 columns no-padding">
                            <div class="nedc-title">
                                {{ news.year }}<br/>
                                {{ news.month }} ‘{{ news.day }}
                            </div>
                            <div class="nedc-detail">
                                {{ news.highlight }} <a href="{{ base_url() }}culture/news/{{ news.slug }}">...read more</a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="culture-1">
        <div class="gallery">
            <div class="gal-content" style="position: relative;">
                <div class="galc-wrapper" data-equalizer="people">
                    <div class="small-12 medium-offset-2 medium-3 columns no-padding galc-middle" data-equalizer-watch="people">
                    </div>
                    <div class="small-12 medium-4 columns no-padding galc-middle" data-equalizer-watch="people">
                        <div class="small-12 columns no-padding">
                            <!--<img src="{{ base_url() }}assets/css/images/top-center.jpg" style="width: 100%;">-->
                        </div>
                    </div>
                    <div class="small-12 medium-3 columns no-padding" data-equalizer-watch="people">
                        <img src="{{ base_url() }}assets/css/images/right-top.jpg" style="width: 100%;"/>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="mai-category">
                        
                        {% for photo in photo_data1 %}
                            <div class="small-12 medium-offset-3 medium-2 columns no-padding">
                                {% if photo.slug == 'mai-share' %}
                                    <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for photo in photo_data1 %}
                            <div class="small-12 medium-2 columns no-padding">
                                {% if photo.slug == 'mai-sport' %}
                                    <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for photo in photo_data1 %}
                            <div class="small-12 medium-2 columns no-padding">
                                {% if photo.slug == 'mai-study' %}
                                    <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <div  class="gal-content-2">
                <img src="{{ base_url() }}assets/css/images/background-photo.jpg" style="width: 100%;"/>
                <div class="mai-category-2">
                    <div class="small-12 medium-offset-2 medium-3 columns no-padding">
                        <a><img src="{{ base_url() }}/assets/css/images/quote-middle.jpg" style="width: 100%;"/> </a>
                    </div>
                    <div class="small-12 medium-2 columns no-padding">
                        <a><img src="{{ base_url() }}/assets/css/images/water.jpg" style="width: 100%;"/> </a>
                    </div>
                {% for photo in photo_data2 %}
                    <div class="small-12 medium-2 columns no-padding">
                    {% if photo.slug == 'mai-talk' %}    
                        <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                    {% endif %}
                    </div>
                {% endfor %}
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div  class="gal-content-2">
                <img src="{{ base_url() }}assets/css/images/flower.jpg" style="width: 100%;"/>
                <div class="mai-category-2">
                {% for photo in photo_data3 %}    
                    <div class="small-12 medium-offset-3 medium-2 columns no-padding">
                    {% if photo.slug == 'mai-trip' %}   
                        <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                    {% endif %}
                    </div>
                {% endfor %}
                {% for photo in photo_data3 %}
                    <div class="small-12 medium-2 columns no-padding">
                    {% if photo.slug == 'mai-birthday' %}    
                        <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                    {% endif %}
                    </div>
                {% endfor %}
                {% for photo in photo_data3 %}
                    <div class="small-12 medium-2 columns no-padding">
                    {% if photo.slug == 'mai-otm' %}   
                        <a href="{{ base_url() }}culture/photo/{{ photo.slug }}"><img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;"/> </a>
                    {% endif %}
                    </div>
                {% endfor %}
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="gal-content">
                <div class="galc-wrapper" data-equalizer="foot">
                    <div class="small-12 medium-offset-2 medium-3 columns no-padding galc-middle" data-equalizer-watch="foot">
                    </div>
                    <div class="small-12 medium-4 columns no-padding galc-middle" data-equalizer-watch="foot">
                        <div class="small-12 medium-12 columns no-padding">
                            <img src="{{ base_url() }}assets/css/images/bottom-center.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div class="small-12 medium-3 columns no-padding" data-equalizer-watch="foot">
                        <img src="{{ base_url() }}assets/css/images/bottom-right.jpg" style="width: 100%;"/>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="culture-1">
        <div class="video">
            <div class="cv-content">
                <div class="row">
                    <div class="cvc-wrap">
                        <div class="small-12 columns">
                        
                            <div class="cvc-slider">
                                <div class="cvc-slide">
                                {% for video in video_data %}
                                    <div class="cvc-item" data-equalizer="video">
                                        <div class="small-12 medium-4 columns no-padding cvc-detail" data-equalizer-watch="video" >
                                            <div class="small-2 columns no-padding">
                                                <img src="{{ base_url() }}assets/css/images/video-icon.jpg" style="width: 100%;"/>
                                            </div>
                                            <div class="small-10 columns">
                                                <div class="cvd-title">
                                                    {{ video.title }}<br/>
                                                </div>
                                                <div class="cvd-date">
                                                    {{ video.created_at }}
                                                </div>
                                                <div class="cvd-content">
                                                    {#{% set desc = video.desc | split('.') %}#}
                                                    {#{{ desc[0] }}#}
                                                    {{ video.highlight }}...
                                                </div>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <div class="small-12 medium-offset-1 medium-7 columns no-padding " data-equalizer-watch="video">
                                            <iframe style="width: 100%; height: 100%;" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div> 
                                {% endfor %}
                                </div>
                            </div>
                            <div class="cvc-arrow">
                                {% for video in video_data %}
                                <div class="va-wrap">
                                    <div id="video-prev">
                                        <div class="va-preview-left">
                                            <img src="{{ base_url() }}media/video/{{ video.image_prev }}" style="width: 107px; height: 109px;"/>
                                        </div>
                                    </div>
                                    <div id="video-next">
                                        <div class="va-preview-left va-preview-right">
                                            <img src="{{ base_url() }}media/video/{{ video.image_next }}" style="width: 107px; height: 109px;"/>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div> 
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="cv-background">
                <img src="{{ base_url() }}/assets/css/images/top-video.jpg" style="width: 100%;"/>
                <img src="{{ base_url() }}assets/css/images/background-video.jpg" style="width: 100%;"/>
                <img src="{{ base_url() }}/assets/css/images/bottom-video.jpg" style="width: 100%;"/>
            </div>
        </div>
    </div>
</div>
<nav id="main-nav">
    <div id="logo-mai">
        <div class="lm-image">
            <a href="{{ base_url() }}"><img src="{{ base_url() }}assets/css/images/logo-mai.png"/></a>
        </div>
    </div>
    <div class="nav-menu">
        <div class="nm-item nm-normal">
            <a id="about">About</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="news">News</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="gallery">Photos</a>
        </div>
        <div class="nm-item nm-normal">
            <a id="video">Videos</a>
        </div>
        <div class="nm-item nm-normal">
            <a href="http://blog.microad.co.id">Blog</a>
        </div>
        <div class="nm-culture">
            <a href="{{ base_url() }}business">Business</a>
        </div>
        <div class="nm-item nm-contact">
            <a href="{{ base_url() }}business#contact">Contact</a>
        </div>
        {#<div class="nm-item separator">
            <a href="#career">Career</a>
        </div>#}
        <div class="nm-item">
            <a href="https://www.microad.co.jp/en/" target="_blank">MicroAd Japan</a>
        </div>
    </div>
</nav>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('classie.js') | raw }}
    {{ asset_js('jquery.mousewheel.min.js') | raw }}
    {{ asset_js('jquery.easing.1.3.js') | raw }}
    {{ asset_js('jquery.bxslider.min.js') | raw }}
    {{ asset_js('slick.min.js') | raw }}
    <script>
        
        
        $('.culture-1').css('width',$( window ).width());

        $(function() {

            $('body').mousewheel(function(event, delta) {

                //console.log('test');
                var itemLeft;
                itemLeft = this.scrollLeft - (delta * $( window ).width());
//                var culture = $('.culture-1').next();
                $('body').stop().animate({
                    scrollLeft: itemLeft
                }, 250);
                //console.log(delta);
                event.preventDefault();

            });

            $("body").keydown(function(e,delta) {

                if(e.keyCode == 37) { // left
                    $('html, body').stop().animate({
                        scrollLeft: "-=" + $( window ).width()
                    }, 250);
                    e.preventDefault();
                }
                else if(e.keyCode == 39) { // right
                    $('html, body').stop().animate({
                        scrollLeft: "+=" + $( window ).width()
                    }, 250);
                    e.preventDefault();
                }
            });

        });

        $( window ).resize(function() {
            //console.log($( window ).width());
            $('.culture-1').css('width',$( window ).width());
        });

        $('.cvc-slide').bxSlider({
            slideWidth: 1005,
            minSlides: 1,
            maxSlides: 1,
            moveSlides: 1,
            auto:false,
            slideMargin: 100,
            nextSelector: '#video-next',
            prevSelector: '#video-prev',
            prevText: '<div class="va-prev"><div class="vap-top">Previous</div><div class="vap-bottom">001</div></div><div style="clear: both;"></div>',
            nextText: '<div class="va-next"><div class="vap-top">Next</div><div class="vap-bottom">003</div></div><div style="clear: both;"></div>'
        });

        $("#about").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollLeft: $(".about").offset().left
            }, 1700);
            //});
        });

        $("#news").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollLeft: $(".news").offset().left
            }, 1700);
            //});
        });

        $("#gallery").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollLeft: $(".gallery").offset().left
            }, 1700);
            //});
        });

        $("#video").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollLeft: $(".cv-content").offset().left
            }, 1700);
            //});
        });

    </script>
    {{ asset_js('app.js') | raw }}
{% endblock %}


</body>
</html>

