<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('jquery.bxslider.css') | raw }}
        {{ asset_css('custom/slick.css') | raw }}
        {{ asset_css('custom/slick-theme.css') | raw }}
        {{ asset_css('custom/mobile.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="header">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="menu vertical">
                <li><a href="{{ base_url() }}culture">Culture</a></li>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#cap">Capabilities</a></li>
                <li><a href="#platform">Platform</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="head-microad" id="intro">
        <img src="{{ base_url() }}/assets/css/images/head-microad.jpg" style="width: 100%;"/>
    </div>
    <div class="intro-microad">
        <div class="intro-background">
            <img src="{{ base_url() }}/assets/css/images/back-intro.jpg"/>
        </div>
        <div class="intro-desc">
            <div class="small-centered small-9 columns">
                <h1>
                    MicroAd<br/>
                    <span>Indonesia</span>
                </h1>
            {% for preface in preface_content %}
                <div class="id-content">
                    {{ preface.content }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="project-microad" id="project">
        <div class="project-head">
            <div class="small-12 columns">
                Projects
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="project-slider">
        {% for portfolio in portfolio_data %}
            <div class="project-item">
                <a href="{{ portfolio.url }}">
                    <img data-interchange="[{{ base_url() }}media/portfolio/{{ portfolio.image_s }}, small], [{{ base_url() }}media/portfolio/{{ portfolio.image_m }}, medium], [{{ base_url() }}media/portfolio/{{ portfolio.image }}, large]">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="capa-microad" id="cap">
        <div class="cap-head">
            <div class="small-12 columns">
                Capabilities
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="cap-slide">
            <div class="cs-item">
            {% for capability in capability_data %}
                <div class="small-4 columns">
                    <a data-slide-index="0" href="">
                        <div class="csi-image">
                            <img src="{{ base_url() }}media/capability/{{ capability.image }}" alt="" />
                        </div>
                    </a>
                </div>
            {% endfor %}            
                <div style="clear: both;"></div>
            </div>
            <div class="cap-sli-bottom">
                <img style="width: 100%;" src="{{ base_url }}assets/css/images/deco-botttom.jpg">
            </div>
            <div class="cap-desc">
                <div class="cd-item">
                    {% for capability in capability_data %}
                        <div class="cd-content">
                            <div class="cdc-item">
                                <h3>{{ capability.name }}</h3>
                                <img src="{{ base_url }}assets/css/images/business-dot.png"/>
                                <p>
                                    {{ capability.desc }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="platform-microad" id="platform">
        <div class="platform-head">
            <div class="small-12 columns">
                <img src="{{ base_url }}assets/css/images/microad-platform.png"/>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="platform-item">
            <div>
                <img src="{{ base_url() }}assets/css/images/mobile_04.jpg"/>
            </div>
        </div>
    </div>
    <div class="contact-microad" id="contact">
        <div class="contact-head">
            <div class="small-6 columns">
                <div class="touch">
                    Get<br/>
                    In Touch
                </div>
            </div>
            <div class="small-6 columns">
                PT. MicroAd Indonesia<br/>
                Indosurya Plaza/Thamrin Nine, Floor 3A<br/>
                Jl. M.H. Thamrin No. 8 - 9<br/>
                Jakarta Pusat 10230 - Indonesia<br/>
                <br/>
                <br/>
                P : +6221 293 88488<br/>
                F : +6221 293 88489<br/>
                info@microad.co.id<br/>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="contact-form">
            <form action="" method="post" data-abide="ajax" id="contact-form">
                <div class="small-12 columns no-padding {{ err_msg.name | length > 0 ? 'error' : '' }}">
                    <input type="text" id="name" name="name" placeholder="name" value="{{ post_data.name }}">
                </div>
                <div class="small-12 columns no-padding {{ err_msg.email | length > 0 ? 'error' : '' }}" value="{{ post_data.email }}">
                    <input type="email" id="email" name="email" placeholder="email">
                </div>
                <div class="small-12 columns no-padding {{ err_msg.message | length > 0 ? 'error' : '' }}">
                    <textarea id="message" name="message" placeholder="message">{{ post_data.message }}</textarea>
                </div>
                <div class="small-12 columns no-padding">
                    <div class="g-recaptcha" data-sitekey="6LdFxB0TAAAAAH9aDoQwpdwUzYEePO0QhJAV-m1G"></div>
                </div>
                <div class="small-12 columns no-padding text-right">
                    <button type="send">Submit</button>
                </div>
                <div style="clear: both;"></div>
            </form>
        </div>
    </div>
</div>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('jquery.easing.1.3.js') | raw }}
    {{ asset_js('jquery.bxslider.min.js') | raw }}
    {{ asset_js('slick.min.js') | raw }}
{% endblock %}

<script>
    $(document).foundation();
    $('.project-slider').bxSlider({
        minSlides: 1,
        maxSlides: 1,
        moveSlides: 1,
        auto:false,
        pager:true,
        slideMargin: 0
    });

    $('.cd-item').bxSlider({
        pagerCustom: '.cs-item',
        minSlides: 1,
        maxSlides: 1,
        moveSlides: 1,
        easing:'easeOutElastic',
        nextSelector: '#slider-next',
        prevSelector: '#slider-prev',
        prevText: '<img src="assets/css/images/cap-prev.png"/> ',
        nextText: '<img src="assets/css/images/cap-next.png"/> '
    });

    {# $('.form-group .alert-danger').css("display","none");
         var flagCaptcha = false;

         var recaptchaCallback = function() {
             flagCaptcha = true;
     };

     $('#contact-form').on('valid.fndtn.abide', function() {
         if (flagCaptcha) {
             $(this).submit();
         }
     });#}

    $('.contact-wrapper').css('height',$( window ).height());
    $( window ).resize(function() {
        $('.contact-wrapper').css('height',$( window ).height());
    });

    (function($){

        var jump=function(e)
        {
            if (e){
                e.preventDefault();
                var target = $(this).attr("href");
            }else{
                var target = location.hash;
            }

            $('html,body').animate(
                    {
                        scrollTop: $(target).offset().top
                    },1000,function()
                    {
                        location.hash = target;
                    });

        }

        $('html, body').hide()

        $(document).ready(function()
        {
            $('a[href^=\\#]').bind("click", jump);

            if (location.hash){
                setTimeout(function(){
                    $('html, body').scrollTop(0).show()
                    jump()
                }, 0);
            }else{
                $('html, body').show()
            }
        });

    })(jQuery)



</script>
</body>
</html>