<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700' rel='stylesheet' type='text/css'>
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('jquery.bxslider.css') | raw }}
        {{ asset_css('custom/slick.css') | raw }}
        {{ asset_css('custom/slick-theme.css') | raw }}
        {{ asset_css('custom/mobile.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="header">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="menu vertical">
                <li><a href="{{ base_url() }}business">Business</a></li>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#video">Video</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="head-microad" id="intro">
        <img src="{{ base_url() }}/assets/css/images/head-culture.jpg" style="width: 100%;"/>
    </div>
    <div class="intro-microad">
    {% for about in about_maizen %}
        <div class="intro-background">
            <img src="{{ base_url() }}/assets/css/images/background-intro.jpg"/>
        </div>
        <div class="intro-desc">
            <div class="small-12 columns">
                <div class="idcul-content">
                    {{ about.header }}
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="id-desc">
            <div class="small-12 columns">
                {{ about.content }}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="id-bottom">
            <img src="{{ base_url() }}assets/css/images/intro-bottom.jpg"/>
        </div>
    {% endfor %}
    </div>
    <div class="project-microad" id="project">
        <div class="project-head">
            <div class="small-12 columns">
                News
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="news-wrapper">
        {% for news in news_data %}
            <div class="news-item">
                <div class="small-6 columns">
                    <div class="news-title">{{ news.year }}, {{ news.month }} ‘{{ news.day }}</div>
                    <div class="news-time">
                        
                    </div>
                    <div class="news-excerpt">
                        {{ news.highlight }}... <a href="#">Read More</a>
                    </div>
                </div>
                <div class="small-6 columns no-padding">
                    {#<img data-interchange="[{{ base_url() }}media/news/{{ photo.image_s }}, small], [{{ base_url() }}media/news/{{ news.image_m }}, medium], [{{ base_url() }}media/news/{{ news.image }}, large]">#}
                    <img src="{{ base_url() }}media/news/{{ news.image }}" alt="{{ news.name }}" />
                </div>
                <div style="clear: both;"></div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="gallery-microad" id="gallery">
        <div class="gallery-head">
            <div class="small-12 columns">
                Gallery
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="gallery-wrap" data-equalizer="gallery">
        {% for photo in photo_data %}    
            <div class="gallery-item">
                <div class="small-6 columns no-padding" data-equalizer-watch="gallery">
                    <a href="#">
                        <img class="test" style="width: 100%;" data-interchange="[{{ base_url() }}media/photo/{{ photo.image_s }}, small], [{{ base_url() }}media/photo/{{ photo.image_m }}, medium], [{{ base_url() }}media/photo/{{ photo.image }}, large]">
                    </a>
                </div>
                <div class="small-6 columns no-padding title-gallery" data-equalizer-watch="gallery">
                    <a href="#">
                        {% set desc = photo.desc | split(',') %}
                        {{ desc[0] }}
                    </a>
                </div>
                <div style="clear: both;"></div>
            </div>
        {% endfor %}    
        </div>
    </div>
    <div class="video-microad" id="video">
        <div class="video-head">
            <div class="small-12 columns">
                Video
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="video-item">
        {% for video in video_data %}
            <div class="small-12 columns no-padding">
                <iframe style="width: 100%; height: 100%;" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('jquery.easing.1.3.js') | raw }}
    {{ asset_js('jquery.bxslider.min.js') | raw }}
    {{ asset_js('slick.min.js') | raw }}
{% endblock %}

<script>
    $(document).foundation();

    $('.project-slider').bxSlider({
        minSlides: 1,
        maxSlides: 1,
        moveSlides: 1,
        auto:false,
        pager:true,
        slideMargin: 0
    });

    $('.cd-item').bxSlider({
        pagerCustom: '.cs-item',
        minSlides: 1,
        maxSlides: 1,
        moveSlides: 1,
        easing:'easeOutElastic',
        nextSelector: '#slider-next',
        prevSelector: '#slider-prev',
        prevText: '<img src="assets/css/images/cap-prev.png"/> ',
        nextText: '<img src="assets/css/images/cap-next.png"/> '
    });

    {# $('.form-group .alert-danger').css("display","none");
         var flagCaptcha = false;

         var recaptchaCallback = function() {
             flagCaptcha = true;
     };

     $('#contact-form').on('valid.fndtn.abide', function() {
         if (flagCaptcha) {
             $(this).submit();
         }
     });#}

    $('.title-gallery').css('height',$('.test').height()+'px');

    $( window ).resize(function() {
        $('.title-gallery').css('line-height',$( '.title-gallery' ).height()+'px');
    });

    (function($){

        var jump=function(e)
        {
            if (e){
                e.preventDefault();
                var target = $(this).attr("href");
            }else{
                var target = location.hash;
            }

            $('html,body').animate(
                    {
                        scrollTop: $(target).offset().top
                    },1000,function()
                    {
                        location.hash = target;
                    });

        }

        $('html, body').hide()

        $(document).ready(function()
        {
            $('a[href^=\\#]').bind("click", jump);

            if (location.hash){
                setTimeout(function(){
                    $('html, body').scrollTop(0).show()
                    jump()
                }, 0);
            }else{
                $('html, body').show()
            }
        });

    })(jQuery)



</script>
</body>
</html>