<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/favicon.ico" />

    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/mobile.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="home">
    <div class="cover">
        <img src="{{ base_url() }}assets/css/images/mai-cover.jpg" style="width: 100%;"/>
    </div>
    <div class="home-menu">
        <div class="small-6 columns no-padding">
            <a href="{{ base_url() }}business">
                <div class="business-home">
                    Here to see our business
                </div>
            </a>
        </div>
        <div class="small-6 columns no-padding">
            <a href="{{ base_url() }}culture">
                <div class="culture-home">
                    Here to see our culture
                </div>
            </a>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
{% endblock %}

<script>
    $(document).foundation();
</script>
</body>
</html>