<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/logo_aio.png" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/component_1.css') | raw }}
        {{ asset_css('custom/fxfullwidth.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('custom/style.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="detail-news">
{% for news in news_detail %} 
    <div class="news-title">
        <div class="small-offset-2 small-7 columns">
            <h1>
                {% set title = news.highlight | split(',') %}
                {{ title[0] }}
            </h1>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="news-date">
        <div class="small-offset-2 small-7 columns">
            <img src="{{ base_url() }}/assets/css/images/time-icon.png"/> {{ news.date }}
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="news-headline">
        <div class="small-offset-3 small-6 columns">
            {{ news.highlight }}
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="news-image">
        <div class="ni-wrapper">
            <div id="component" class="component component-fullwidth fxFortuneWheel">
                <ul class="itemwrap">
                {% for image in news_image %}    
                    <li class="{{ loop.first ? 'current' : '' }}"><img src="{{ base_url() }}media/news/{{ image.image }}" alt="{{ news.image_name }}"/></li>
                {% endfor %}
                </ul>
                <nav>
                    <a class="prev" href="#"><img src="{{ base_url() }}assets/css/images/news-prev.png"/></a>
                    <a class="next" href="#"><img src="{{ base_url() }}assets/css/images/news-next.png"/></a>
                </nav>
            </div>
        </div>
    </div>
    <div class="news-content">
        <div class="small-offset-3 small-6 columns">
            {{ news.content }}
        </div>
        <div style="clear: both;"></div>
    </div>
{% endfor %}
    <div class="back-detail dp-client back-top">
        <a href="{{ base_url() }}culture#news-content">Back to Culture</a>
    </div>
</div>

<nav id="main-nav">
    <div id="logo-mai">
        <div class="lm-image">
            <a href="{{ base_url() }}"><img src="{{ base_url() }}assets/css/images/logo-mai.png"/></a>
        </div>
    </div>
    <div class="nav-menu">
        <div class="nm-culture">
            <a href="{{ base_url() }}culture">Culture</a>
        </div>
        <div class="nm-item nm-contact">
            <a id="contactButton" href="{{ base_url() }}business/#contact">Contact</a>
        </div>
        <div class="nm-item separator">
            <a href="#career">Career</a>
        </div>
        <div class="nm-item">
            <a href="https://www.microad.co.jp/en/" target="_blank">MicroAd Japan</a>
        </div>
    </div>
</nav>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('classie.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('main.js') | raw }}
    {{ asset_js('app.js') | raw }}
{% endblock %}

<script>

    $('#component').css('height',$('.component-fullwidth li img').height());
</script>

</body>
</html>

