<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/logo_aio.png" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('custom/style.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="detail-category">
    
        <div class="row">
        {% for photo in photo_data %}
            <div class="dc-title">
                <div class="small-12 columns">
                    <h1>{{ photo.category }}</h1>
                </div>
            </div>
            <div class="dc-desc">
                <div class="small-12 columns">
                    {{ photo.desc }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="back-detail" style="margin-bottom:10px; text-align: center;">
                <a href="{{ base_url() }}culture">Back to Culture</a>
            </div>
        {% endfor %}
            <div class="dc-image" data-equalizer="photo" data-equalize-by-row="true">
                {% for photo in photo_detail %}
                    {% if loop.length == 1 %}
                        <div class="small-12 medium-12 columns no-padding">
                            <img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;" alt="{{ photo.title }}">
                        </div>
                    {% else %}
                        <div class="small-12 medium-6 columns no-padding photo-item" data-equalizer-watch="photo">
                            <img src="{{ base_url() }}media/photo/{{ photo.image }}" style="width: 100%;" alt="{{ photo.title }}">
                        </div>
                    {% endif %}
                {% endfor %}
                <div style="clear: both;"></div>
            </div>
            <div class="back-detail dp-client back-top" style="padding-left: 0;">
                <a href="#top">Back to Top</a>
            </div>
        </div>
        
</div>

<nav id="main-nav">
    <div id="logo-mai">
        <div class="lm-image">
            <a href="{{ base_url() }}"><img src="{{ base_url() }}assets/css/images/logo-mai.png"/></a>
        </div>
    </div>
    <div class="nav-menu">
        <div class="nm-culture">
            <a href="{{ base_url() }}culture">Culture</a>
        </div>
        <div class="nm-item nm-contact">
            <a id="contactButton" href="#contact">Contact</a>
        </div>
        <div class="nm-item separator">
            <a href="#career">Career</a>
        </div>
        <div class="nm-item">
            <a href="https://www.microad.co.jp/en/" target="_blank">MicroAd Japan</a>
        </div>
    </div>
</nav>

{% block frontend_js %}
    {{ asset_js('vendor/jquery.js') | raw }}
    {{ asset_js('vendor/what-input.js') | raw }}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('app.js') | raw }}
{% endblock %}

<script>
    $('.back-top a').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });
</script>

</body>
</html>

