{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/search.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="search-content">
        <div class="row">
            <div class="columns title">
                <p>SEARCH RESULT</p>
                <div style="width: 100%;border-bottom: 2px solid #ced2d6;margin-bottom: 10px"></div>
            </div>
            <div class="columns search-bar">
                <div class="medium-7 columns">
                {% set size = search_result | length %}
                About <b>{{ size }}</b> results for <b>'{{ keyword }}'</b>

                </div>
                <div class="medium-5 columns refine">
                    <form>
                        <div class="row">
                            <input type="text" placeholder="refine search">
                            <button class="" type="send" style="position: absolute"><img src="{{ base_url() }}/assets/img/icon-search.png"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result if res.status == 'activity' %}
                <div class="columns title">
                    <p>{{ res.title }}</p>
                </div>
                <div class="medium-2 columns no-left-padd">
                    <img src="{{ base_url() }}/assets/img/search/search-each.jpg">
                </div>
                <div class="medium-10 columns">
                    <div class="desc">
                        <p>{{ res.highlight }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result if res.status == 'brand' %}
                <div class="columns title">
                    <p></p>
                </div>
                <div class="medium-2 columns no-left-padd">
                    <img src="{{ base_url() }}/assets/img/search/search-each.jpg">
                </div>
                <div class="medium-10 columns">
                    <div class="desc">
                        <p></p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result if res.status == 'press' %}
                <div class="columns title">
                    <p>{{ res.title }}</p>
                </div>
                <div class="medium-2 columns no-left-padd">
                    <img src="{{ base_url() }}/assets/img/search/search-each.jpg">
                </div>
                <div class="medium-10 columns">
                    <div class="desc">
                        <p>{{ res.highlight }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result if res.status == 'career' %}
                <div class="columns title">
                    <p>{{ res.name }} - {{ res.level }} ({{ res.location }})</p>
                </div>
                {#<div class="medium-2 columns no-left-padd">
                    <img src="{{ base_url() }}/assets/img/search/search-each.jpg">
                </div>#}
                <div class="medium-10 columns">
                    <div class="desc">
                        <p>{{ res.req }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="columns title">
                <div style="width: 100%;border-bottom: 2px solid #ced2d6;margin-bottom: 50px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}