{% extends "backend/base.twig" %}

{% block backend_content %}
<div class="wrapper row-offcanvas row-offcanvas-left">
	<!-- Main content -->
	<section class="content">

		<div class="error-page">
			<h2 class="headline text-info"> No Permission</h2>
			<div class="error-content">
				<h3><i class="fa fa-warning text-yellow"></i> You don't have a permission.</h3>
				<p>
					The page you were looking for is need a permission, please contact administrator to grant the permission.
				</p>
				<p>
					<a href="{{ redirect_to }}">
						Back
					</a>
				</p>
			</div><!-- /.error-content -->
		</div><!-- /.error-page -->

	</section><!-- /.content -->
</div><!-- ./wrapper -->
{% endblock %}