{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/about.css') | raw }}
{% endblock %}
{% block frontend_content %}
    {% include "template_about_us.twig" %}
    {% for detail in about_detail %}
        <div class="about-content">
            <div class="about-logo">
                <div class="row">
                    <img src="{{ base_url() }}/assets/img/about-us/logo-about.jpg"/>
                </div>
            </div>
            <div class="row">
                <div style="border-bottom: 1px solid #bdbdbd"></div>
            </div>
            <div style="height: 40px;"></div>
            <div class="about-item">
                <div class="row" data-equalizer="hal">
                    <h5>Makna Logo Perusahaan</h5>
                    <hr/>
                    <div class="small-12 columns" data-equalizer-watch="hal">
                        <p>
                            {{ detail.meaning }}
                        </p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="columns about-visi">
            <div class="row detail">
               <div class="title">
                   <p>VISI</p>
                   <div style="border-bottom: 6px solid #fff;width: 96px;margin-bottom: 26px;"></div>
               </div>
               <div class="desc">
                   {{ detail.highlight }}
                   <!--<p>Menjadi perusahaan yang  brilian, dengan memberikan kontribusi yang signifikan dan terpercaya bagi konsumen serta masyarakat.</p>-->
               </div>
                <div class="title">
                    <p>MISI</p>
                    <div style="border-bottom: 6px solid #fff;width: 96px;margin-bottom: 26px;"></div>
                </div>
                <div class="desc">
                    {{ detail.detail }}
                    <!--<ol>
                        <li>Mengembangkan dan mempertahankan karyawan yang berkualitas tinggi untuk menghasilkan produk berkualitas tinggi.</li>
                        <li>Menjadikan kebutuhan dan kesejahteraan konsumen dan masyarakat sebagai prioritas utama.</li>
                        <li>Menangkap peluang di semua aspek secara tepat dan inovatif untuk kesejahteraan dan kepuasan konsumen serta perkembangan perusahaan.</li>
                        <li>Mengembangkan dan mempertahankan hubungan yang saling menguntungkan dengan rekan bisnis.</li>
                        <li>Menjadi perusahaan yang terpercaya.</li>
                    </ol>-->
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}