.factory {
    background-color: #e5eaee;
}
.factory p , .visiting-detail form label {
}
.factory .banner {
    position: relative;
}
.factory .banner .banner-desc {
    display: inline-block;
    padding: 50px;
    position: absolute;
    right: 10%;
    background-color: #ffffff;
    bottom: 110px;
}
.factory .banner-desc p {
    font-size: 46px;
    font-weight: bold;
    color: #2a4352;
    margin-bottom: 0px;
    line-height: 1.1;
}
.factory .banner-desc hr {
    float: left;
    width: 200px;
    border-width: 0px 0px 5px;
    border-color: rgb(42, 67, 82);
    margin-top: 10px;
}
.factory-detail {
    margin-bottom : 25px ;
}
.factory-detail .desc p {
    font-size: 14px;
    color: #6c6c6c;
}
.factory-detail p:first-of-type{
    font-weight: bold;
    margin-top: 30px;
}
.factory-detail .youtube {
    position: relative;
    padding-bottom: 55.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100% !important;
}
.factory-detail .youtube iframe,
.factory-detail .youtube object,
.factory-detail .youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.factory-gallery {
    padding-left: 1px;
    padding-right: 1px;
}
.custom-padd {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.no-padd {
    padding-left: 0px;
    padding-right: 0px;
}
/*explorion*/
.factory .explorion {
    border: 1px solid #bec1c4;
    padding-top: 30px;
    padding-bottom: 30px;
}
.factory .explorion .title > p {
    font-size: 24px;
    font-weight: bold;
    color: #393e46;
    line-height: 1;
}
.factory .explorion .title > p > span {
    font-size: 18px;
    color: #4d5a64;
}
.factory .explorion .desc > p {
    font-size: 14px;
    color: #3f4951;
    line-height: 1.2;
}
/*end explorion*/
.visiting-form .title hr {
    width: 150px;
    float: left;
    border-color: #000000;
}
.visiting-form .title p {
    clear: both;
    font-size: 36px;
    color: #000000;
    line-height: 1;
}
.visiting-form .title p:last-of-type{
    font-weight: bold;
}
.visiting-detail {
    margin-bottom: 100px;
}
.visiting-detail .tabs {
    margin: 0px;
    list-style-type: none;
    background: transparent;
    border: 1px solid #E6E6E6;
}
.visiting-detail .tabs-title.is-active a:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    margin-left: 50px;
    margin-top: 7px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #00b2e5;
    position: absolute;
}
.visiting-detail .tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
    position: relative;
    background: #1c8db2!important;
}
.tabs-title > a:hover {
    background: #007dc6;
}
.visiting-detail .tabs-title >a {
    background: #01b2e5;
}
.visiting-detail .tabs-title > a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.visiting-detail .tabs-content {
    background: #1c8db2;
    border-width: 12px;
    border-color: #00b2e5;
    border-style: solid;
    /*position: relative;*/
}
.visiting-detail ol >li , .visiting-detail p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.visiting-detail form button {
    background: #677f89;
    padding: 10px 15px;
    float: right;
}
.visiting-detail form , .visiting-detail form label {
    font-size: 14px;
    color: #ffffff;
}
.visiting-detail form label {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
.visiting-detail form input {
    height: 22px;
    padding: 0px 10px;
}
.visiting-detail form input , .visiting-detail form textarea  , .visiting-detail form input:focus{
    background: #04486F;
    border: none;
}
.visiting-detail form input[type='text'] , .visiting-detail form input[type='tel'], .visiting-detail form input[type='email'], [type="number"], .visiting-detail form textarea  {
    font-size: 12px;
    color: #ffffff;
}
.visiting-detail form input[type='tel'] {
    width: 98%;
}
.visiting-detail .map {
    display: none;
}
.visiting-detail .map p {
    font-size: 16px;
    color: #ffffff;
    background: #4d5a64;
    margin-bottom: 0px;
    display: inline-block;
    padding: 10px;
}
.visiting-detail iframe {
    width: 100%;
    max-height: 180px;
}
.gallery-visit {
    background: #ffffff;
}
.gallery-visit .title p {
    font-size: 36px;
    color: #000000;
    line-height: 1;
    margin-bottom: 0px;
}
.gallery-visit .title p:last-of-type {
    font-size: 50px;
    font-weight: bold;
}
.gallery-visit .custom-padd {
    padding-top: 60px;
    padding-bottom: 60px;
}
.gallery-visit .title hr {
    width: 150px;
    float: left;
    border-color: #000000;
}
.gallery-visit .see-gallery {
    clear: both;
    display: inline-block;
    text-align: center;
}
.gallery-visit .see-gallery a.button {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    background: #0064b9;
}

/*new masonry*/
#container {
    float:none;
    background: #ffffff;
    padding: 0;
    margin:0 auto;
    margin-bottom:30px;
    /* optional */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

.box {
    margin: 5px;
    float: left;
    /* optional */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.box img, { display: block; width: 100%; }

.col1 { width: 115px; }
.col2 { width: 180px; }
.col3 { width: 220px; }
.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 220px; }

/* animations for the transition/reordering */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.transitions-enabled.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.transitions-enabled.masonry  .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

div#container {
    position:relative;

}
/*end new masonry*/

@media screen and  (max-width: 1366px) {
    .factory .banner-desc p {
        font-size: 36px;
        line-height: 1.1;
    }
    .factory .banner-desc hr {
        width: 103px;
    }
    .factory .banner .banner-desc {


    }
}
