/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2016, 10:35:20 AM
    Author     : khomeini
*/

@font-face {
    font-family: 'fabioloregular';
    src: url('../../fonts/custom/fabiolo-regular.eot');
    src: url('../../fonts/custom/fabiolo-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/custom/fabiolo-regular.woff2') format('woff2'),
    url('../../fonts/custom/fabiolo-regular.woff') format('woff'),
    url('../../fonts/custom/fabiolo-regular.ttf') format('truetype'),
    url('../../fonts/custom/fabiolo-regular.svg#fabioloregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#base {
    background: #63daf3 url("../images/clouds.png") top center repeat-x;
    width: 4000px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

/***** IMAGES *****/

#bg-city {
    background: url("../images/bg-city.png") top center repeat-x;
    position: fixed;
    bottom: 300px;
    width: 4000px;
    height: 238px;
    margin: 0 auto;
    z-index: 300;
}

#tokyo-eye {
    /*//background: url("../images/tokyo-eye.png") top center;*/
    position: fixed;
    bottom: 390px;
    margin-left: 10%;
    width: 169px;
    height: 171px;
    z-index: 320;
}

#tokyo-tower {
    background: url("../images/tokyo-tower.png") top center;
    position: fixed;
    bottom: 360px;
    margin-left: 25%;
    width: 142px;
    height: 321px;
    z-index: 320;
}

#tokyo-crane {
    /*//background: url("../images/crane-1.png") top center;*/
    position: fixed;
    bottom: 410px;
    margin-left: 70%;
    width: 291px;
    height: 148px;
    z-index: 320;
}

#tokyo {
    background: url("../images/tokyo.png") top center repeat-x;
    position: fixed;
    bottom: 295px;
    margin: 0 auto;
    width: 4000px;
    height: 208px;
    z-index: 350;
}

#tokyo-street {
    background: url("../images/tokyo-street.jpg") top center repeat-x;
    position: fixed;
    bottom: 200px;
    margin: 0 auto;
    width: 4000px;
    height: 105px;
    z-index: 450;
}

#tokyo-shinkansen {
    /*//background: url("../images/tokyo-street.jpg") top center repeat-x;*/
    position: fixed;
    bottom: 235px;
    margin: 0 auto;
    width: 4000px;
    height: 105px;
    z-index: 460;
}

#gen-city {
    background: url("../images/gen-city.png") top center repeat-x;
    position: fixed;
    bottom: 195px;
    margin: 0 auto;
    width: 4000px;
    height: 204px;
    z-index: 500;
}

#monas {
    background: url("../images/monas.png") top center;
    position: absolute;
    bottom: 200px;
    width: 203px;
    height: 449px;
    z-index: 650;
    margin-left: 60%;
}

#jakarta {
    background: url("../images/jakarta.png") top center repeat-x;
    position: absolute;
    bottom: 158px;
    margin: 0 auto;
    width: 4000px;
    height: 297px;
    z-index: 700;
}

#jakarta-street {
    background: url("../images/jakarta-street.jpg") top center repeat-x;
    position: absolute;
    bottom: 54px;
    margin: 0 auto;
    width: 4000px;
    height: 104px;
    z-index: 550;
}

#logo-mai {
    color: #fff;
    width: 250px;
    font-size: 14px;
    float: left;
    margin-left: 17px;
    margin-top: 5px;
}

#logo-mai .lm-image{
    float: left;
}

#logo-mai .lm-image img {
    height: 40px;
}

#logo-mai .lm-title{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "fabioloregular";
    font-size: 12px;
}

.nav-menu {
    float: right;
    font-family: "fabioloregular";
}

.nm-item {
    float: left;
    margin: 10px;
    padding: 5px;
}

.nm-item a{
    color: #28c3c7;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
}

.nm-item:last-child a{
    color: #287ec7;
}

#logo-mai2 {
    background: url("../images/logo-mai2.png");
    margin-top: 16%;
    margin-left: 43%;
    width: 181px;
    height: 187px;
    position: fixed;
    z-index: 1001;
    background-size: cover;
}

#cyber-agent {
    position: fixed;
    z-index: 900;
    right: -15px;
    bottom: 45px;
}

/***** NAVIGATION *****/

#middleNav {
    width: 100%;
    position: fixed;
    top: 40%;
    z-index: 851;
}
#middleNav a {
    display: block;
    text-decoration: none;
}

#pull-left {float:left;}
#pull-right {float:right;}

.business-container {
  cursor: pointer;
  perspective: 600;
  position: relative;
}
.business {
  height: 100%;
  position: relative;
  /*transform-style: preserve-3d;*/
  /*transition: all 1s ease-in-out;*/
  width: 100%;
}
.business:hover {
  /*transform: rotateY(180deg);*/
}
.business .side {
  /*backface-visibility: hidden;*/
  border-radius: 6px;
  height: 134px;
  /*position: absolute;*/
  /*overflow: hidden;*/
  width: 100%;
  background: white;
    font-family: "fabioloregular";
    font-size: 18px;
   color: #4d5a64;
}
.business .back {
  background: #eaeaed;
  position: relative;
  color: #0087cc;
  transform: rotateY(180deg);
    padding: 0;
    display: none;
}

.side-content{
    padding: 25px;
    width: 40%;
    text-transform: uppercase;
    font-weight: bold;
}


.culture-container {
  cursor: pointer;
  width: 134px;
  height: 134px;
  perspective: 600;
  position: relative;
}
.culture {
  height: 100%;
  position: absolute;
  /*transform-style: preserve-3d;*/
  /*transition: all 1s ease-in-out;*/
  width: 100%;
}
.culture:hover {
  /*transform: rotateY(180deg);*/
}
.culture .side {
  /*backface-visibility: hidden;*/
  border-radius: 6px;
  height: 100%;
  /*position: absolute;*/
  /*overflow: hidden;*/
  width: 100%;
}
.culture .back {
  background: #eaeaed;
  color: #0087cc;
  transform: rotateY(180deg);
    display: none;

}

#main-nav {
    background-color: #000;
    height: 54px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

#main-nav ul {
    width: 350px;
    margin: 0 auto;
    height: 40px;
    padding-top: 10px;
    padding-right: 30px;
    float: right;
}

#main-nav ul li:not(.separator) {
    float: left;
    width: 90px;
    height: 30px;
    list-style-type: none;
    text-align: center;
}

.nm-item:first-child{
    border-left: 1px solid #464646;
}

.separator {
    border-right: 1px solid #464646;
}

#main-nav ul li a:not(.asia) {
    color: #28c3c7;
    font-size: 16px;
    text-decoration: none;
}

.asia {
    color: #287ec7;
    font-size: 15px;
    text-decoration: none;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    .side-content {

        padding: 25px;
        width: 45%;

    }
}}