@font-face {
    font-family: 'fabioloregular';
    src: url('../../fonts/custom/fabiolo-regular.eot');
    src: url('../../fonts/custom/fabiolo-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/custom/fabiolo-regular.woff2') format('woff2'),
    url('../../fonts/custom/fabiolo-regular.woff') format('woff'),
    url('../../fonts/custom/fabiolo-regular.ttf') format('truetype'),
    url('../../fonts/custom/fabiolo-regular.svg#fabioloregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.no-padding{
    padding: 0;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .top-bar, .top-bar ul{
    background: #000000;
}

.header .menu > li > a{
    color: #ffffff;
}

.content{
    padding-top: 41px;
}

.intro-microad{
    position: relative;
}

.intro-background img{
    width: 100%;
}

.intro-desc{
    position: absolute;
    width: 100%;
    top: 0;
}

.intro-desc .small-9{
    background: #ffffff;
    padding: 50px;
    padding-top: 200px;
}

.intro-desc h1{
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #3f4951;
    font-size: 35px;
    line-height: 1;
    margin-bottom: 20px;
}

.intro-desc h1 span{
    font-weight: 400;
}

.intro-desc .id-content{
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: #6a7883;
}

.project-head, .cap-head{
    background: url("../images/mob-project.jpg")0 0 repeat-x ;
    color: #ffffff;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.cap-head{
    background: url("../images/mob-capabilities.jpg")0 0 repeat-x;
}

.project-microad .bx-wrapper .bx-viewport,.capa-microad .bx-wrapper .bx-viewport{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0;
}

.project-microad .bx-wrapper .bx-pager, .project-microad .bx-wrapper .bx-controls-auto{
    bottom: 15px;
}

.project-microad .bx-wrapper .bx-pager.bx-default-pager a{
    background: #ffffff;
}

.project-microad .bx-wrapper .bx-pager.bx-default-pager a:hover, .project-microad .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #ffffff;
}

.project-microad .bx-wrapper{
    margin: auto 0;
}

.csi-image{
    text-align: center;
}

.csi-image img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.csi-image img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.cs-item .small-4{
    margin-bottom: 10px;
    margin-top: 10px;
}

.cd-content{
    padding: 20px;
}

.cd-content h3 {
    color: #3f4951;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
}

.cd-content p {
    margin-top: 20px;
    color: #4d5a64;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

.platform-microad{
}

.platform-head{
    text-align: right;
}

.idcul-content{
    font-size: 30px;
    color: #ffffff;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    padding-top: 30px;
}

.id-desc{
    background: url("../images/back-desc.jpg") 0 0 repeat;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-title{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #475055;
    padding-top: 40px;
    padding-bottom: 10px;
}

.news-time{
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #475055;
    padding-bottom: 30px;
}

.news-excerpt{
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #475055;
}

.news-excerpt a{
    color: #ea6060;
}

.news-wrapper{
    border-bottom: 1px solid #a7a7a7;
}

.gallery-head, .video-head{
    font-size: 35px;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    color: #3f4951;
    text-transform: uppercase;
}

.title-gallery{
    text-align: center;
    font-family: "Open Sans",sans-serif;
    background: #1a1616;
    font-size: 16px;
    text-transform: uppercase;
    display: table;
}

.title-gallery a{
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
}

.contact-head{
    background: #f7941d;
    color: #393e46;
    font-family: "fabioloregular",sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
}

.contact-head .touch{
    text-transform: uppercase;
    font-size: 36px;
    padding: 37% 0;
}

.contact-form {
    background: url("../images/map-mobile.jpg") top center no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}

#message{
    resize: none;
    height: 110px;
}

.contact-form form{
    width: 80%;
    padding: 50px;
    margin: auto;
}

.contact-form ::-webkit-input-placeholder {
    font-style: italic;
}

.contact-form :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

.contact-form ::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}

.contact-form :-ms-input-placeholder {
    font-style: italic;
}

.contact-form input, .contact-form textarea{
    color: #707070;
}

.contact-form button{
    padding: 11px 30px ;
    background: #ed1c24;
    color: white;
    font-size: 18px;
    font-family: "fabioloregular",sans-serif;
    margin-top: 15px;

}

.business-home{
    text-align: right;
    font-family: "fabioloregular",sans-serif;
    font-size: 30px;
    padding: 20px 50px 20px 140px;
    color: #4d5a64;
    background: #ff8700;
    text-transform: uppercase;
}

.culture-home{
    text-align: left;
    font-family: "fabioloregular",sans-serif;
    font-size: 30px;
    padding: 20px 140px 20px 50px;
    color: #4d5a64;
    background: #ffc200;
    text-transform: uppercase;
}

@media screen and (max-width: 435px ){
    .intro-desc .id-content{
        font-size: 10px;
    }
    .intro-desc .small-9{
        background: #ffffff;
        padding: 10px;
        padding-top: 0px;
        height: auto;
    }

    .news-title{
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #475055;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .news-time{
        font-family: "Roboto",sans-serif;
        font-weight: 100;
        font-size: 10px;
        color: #475055;
        padding-bottom: 10px;
    }

    .news-excerpt{
        font-family: "Roboto",sans-serif;
        font-weight: 100;
        font-size: 10px;
        color: #475055;
    }

    .contact-head{
        font-size: 12px;
    }

    .contact-head .touch{
        font-size: 30px;
        padding: 30% 0;
    }

    .contact-form form{
        width: 90%;
        padding: 0;
    }

    .business-home{
        font-size: 20px;
        padding: 5px 25px 3px 72px;
    }

    .culture-home{
        font-size: 20px;
        padding: 5px 72px 3px 25px;
    }
}