@font-face {
    font-family: 'fabioloregular';
    src: url('../../fonts/custom/fabiolo-regular.eot');
    src: url('../../fonts/custom/fabiolo-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/custom/fabiolo-regular.woff2') format('woff2'),
    url('../../fonts/custom/fabiolo-regular.woff') format('woff'),
    url('../../fonts/custom/fabiolo-regular.ttf') format('truetype'),
    url('../../fonts/custom/fabiolo-regular.svg#fabioloregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.no-padding{
    padding: 0;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.business-banner{
    position: relative;
}

.bb-image img{
    max-width: none;
}

.bb-title{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.bb-title h1{
    text-align: right;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.white-box {
    width: 100%;
    border: 1px solid white;
    height: 53px;
}

.chord {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 35%;
}

.intro-effect-sliced.modify .header .bb-title{
    display: none;
}

.intro-effect-sliced.modify .business-banner{
    height: auto;
}

.intro-effect-sliced.modify .bg-img:first-child{
    webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.bbi-image{
    background:url("../images/bbi-image.jpg") right 0 no-repeat #e35f20;
    padding-right: 15px;
}

.bbi-title{
    color: #3f4951;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    width: 280px;
}

.bbi-title span{
    font-weight: 300;
}

.bbi-title hr{
    margin: 0.25rem auto;
}

.bbi-content{
    width: 320px;
    font-family: "Open Sans", sans-serif;
    color: #6a7883;
    font-size: 14px;
}

.intro-effect-sliced .bbi-content p{
    color: #6a7883;
}

.bb-intro .sign{
    text-align: right;
}

.content{
    margin: 0;
    padding: 0;
}

.content > div:not(.title) {
    margin: 0;
    padding: inherit;
    max-width: none;
}

.pt-left{
    width: 70%;
    margin-left: auto;
    margin-right: 0;
}

.p-title{
    text-align: end;
    border-right: 1px solid #4d5a64;
    padding-top: 20px;
    font-size: 205%;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4d5a64;
}

.partner .column{
    text-align: center;
    display: table;
    height: 100%;
}

.partner .column img{
    vertical-align: middle;
    display: table-cell;
    width: 100px;
}

.partner .thumbnail{
    border: 0;
    box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.2);
    padding: 10px;

}

.partner .thumbnail:hover, .partner .thumbnail:focus{
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5);

}

.product .p-title{
    text-align: left;
    color: #3f4951;
    border: 0;
}

.product .p-title span{
    font-size: 24px;
}


/*.ab-title span{
    font-size: 360px;
}*/

.pi-blog{
    background: #efefef;
}

.pi-blog .pib-title{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #3f4951;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 15px;
    padding-bottom: 4px;
}

.pib-content{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #4d5a64;
    text-align: justify;
}

.pi-mb{
    padding: 20px;
    background: #3a3a3a;
    min-height: 500px;
}

.pimb-head{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #6a7883;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.pimb-subhead{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #cacaca;
    font-weight: 700;
}

.project{
    margin-top: 30px;
    background: url("../images/slider-background.jpg") 0 0 repeat-x;
}

.project .bx-wrapper .bx-viewport{
    left: 0;
    border: none;
    min-height: 410px;
    background: transparent;
    box-shadow: none;
    padding-left: 20%;
}

.project .bx-wrapper{
    margin-right: 0;
    max-width: 1480px;
}

.project .bx-wrapper .bx-controls-direction{
    position: relative;
}

.project .bx-wrapper .bx-controls-direction a{
    width: 8px;
    height: 12px;
    bottom: 15px;
    top: auto;
}

.project .bx-controls{
    position: absolute;
    width: 240px;
    background: #3a3a3a;
    bottom: 0;
    height: 70%;
    z-index: 2;
}

.project .bx-wrapper .bx-pager{
    position: relative;
    bottom: 0;
    height: 133px;
    padding-top: 110px;
}

.project .bx-wrapper .bx-prev{
    background: url("../images/project-left.png") 0 0 no-repeat;
}

.project .bx-wrapper .bx-next{
    background: url("../images/project-right.png") 0 0 no-repeat;
}

.slider1 {
}

.slider1 .slide{
    border: 10px solid white;
    width: 216px;
    height: 289px;
    top: 70px;
}

.slide .symbol{
    text-align: right;
    padding-top: 10px;
    text-align: -webkit-right;
    text-align: -moz-right;
}

.ss-content{
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: table;
    position: absolute;
    height: 100%;
    word-wrap: break-word;
}

.ss-content .ss-port{
    display: table-cell;
    vertical-align: middle;
}


.project .bx-wrapper .bx-pager.bx-default-pager a:hover, .project .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #ea5726;
    padding-bottom: 3px;
    padding-top: 1px;
}

.project .bx-wrapper .bx-pager.bx-default-pager a{
    background: white;
    width: 24px;
    height: 2px;
    margin: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.pro-title-wrapper{
    max-width: 1480px;
    position: absolute;
    min-height: 410px;
    width: 100%;
    right: 0;
}

.pro-title{
    position: absolute;
    width: 240px;
    background: url("../images/pro-title.jpg") 0 0 no-repeat;
    background-size: contain;
    height: 115%;
    z-index: 1;
    bottom: 0;
    padding-top: 125px;
}

.pt-item{
    width: 90%;
    margin-left: 10%;
    border-top: 1px solid white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}

.people-desc{
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    background: #3a3a3a;

}

.pd-desc{
    padding: 25px;
    padding-left: 55%;
    padding-top: 50px;
}

.people-title{
    overflow: hidden;
}

.pd-title{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #3f4951;
    text-transform: uppercase;
}

.pd-line{
    border-left: 1px solid #6a7883;
    height: inherit;
}

.people-detail{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #4d5a64;
    padding-top: 100px;
}

.cap-image img{
    width: 100%;
}

.cap-tag{
    background: url("../images/cap-tag.jpg") bottom no-repeat;
    background-size: cover;
    color: white;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    text-align: right;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 50px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}

.cap-title{
    height: 120px;
}

.cap-title h3{
    margin-left: 10%;
    text-align: right;
    font-family: "Lato";
    font-weight: 700;
    font-size: 35px;
    color: #3f4951;
/*    padding-bottom: 20px;*/
    padding: 0 10px 20px 0;
    border-bottom: 1px solid #6a7883;
}

.cap-slide{
    background: #000000;
    padding-top: 20px;
}

.cap-desc{
    padding-top: 120px;
}

.csi-image{
    width: 100%;
    background: #6a7883;
    margin-bottom: 20px;
    text-align: center;
}

.cs-item .active .csi-image{
    background: #f26522;
}

.cs-item a:hover .csi-image{
    background: #f26522;
}

.cap-desc .bx-wrapper .bx-viewport{
    left: 0;
    box-shadow: none;
}

.cap-desc-wrap{
    position: relative;
    max-height: 900px;
}

.cdc-item{
    max-width: 500px;
}

.capabilities .cap-wrap-left{
    position: relative;
}

.just-image{
    position: relative;
    z-index: -1;
    width: 100%;
}

.just-image img{
    width: 100%;
}

.cd-content h3{
    color: #3f4951;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
}

.cd-content p{
    margin-top: 20px;
    color: #4d5a64;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

.cap-desc-wrap .sign{
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 30%;
    text-align: right;
    padding-bottom: 50px;
    padding-right: 20px;
    border-bottom: 1px solid #6a7883 ;
}

.cap-arrow{

    background: #f26522;
    width: 74px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    right: 0;
}

#slider-prev{
    padding-right: 10px;
}

#main-nav {
    background-color: #000;
    height: 54px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

#main-nav ul {
    width: 350px;
    margin: 0 auto;
    height: 40px;
    padding-top: 10px;
    padding-right: 30px;
    float: right;
}

#main-nav ul li:not(.separator) {
    float: left;
    width: 90px;
    height: 30px;
    list-style-type: none;
    text-align: center;
}

.nm-contact, .nm-culture{
    border-left: 1px solid #464646;
}

.separator {
    border-right: 1px solid #464646;
}

#main-nav ul li a:not(.asia) {
    color: #28c3c7;
    font-size: 16px;
    text-decoration: none;
}

.asia {
    color: #287ec7;
    font-size: 15px;
    text-decoration: none;
}

#logo-mai {
    color: #fff;
    width: 250px;
    font-size: 14px;
    float: left;
    margin-left: 17px;
    margin-top: 5px;
}

#logo-mai .lm-image{
    float: left;
}

#logo-mai .lm-title{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "fabioloregular";
    font-size: 12px;
}

.nav-menu {
    float: right;
    font-family: "fabioloregular";
}

.nm-item, .nm-culture, .nm-normal {
    float: left;
    margin: 10px;
    padding: 5px;
}



.nm-item a, .nm-culture a, .nm-normal a{
    color: #28c3c7;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
}

.nm-culture a{
    color: #c7a728;
}

.nm-normal a{
    color: white;
}

.nm-item:last-child a{
    color: #287ec7;
}

.back-detail a{
    padding: 11px 30px;
    background: #ed1c24;
    color: white;
    font-size: 18px;
    font-family: "fabioloregular",sans-serif;
    margin-top: 15px;
}



/* Culture */

#culture{
    overflow-y: hidden;
}

.culture {
    position: absolute;
    overflow-x: visible;
    width: 500%;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
}

.culture-1{
    width: 1920px;
    float: left;
    display: block;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.culture-title{
    text-align: right;
    text-transform: uppercase;
    color: #393e46;
    font-weight: bold;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    padding: 50px;
    position: absolute;
    width: 100%;
}

.c1-wrap{
    position: relative;
}

.c1-left, .c1-right{
    position: absolute;
    left: 0;
    background: #d54718;
    top: 20%;
    padding: 10px;
    width: 145px;
    max-height: 458px;
}

.c1-right{
    left: auto;
    right: 0;
    background: #2d3038;
}


.c1-left .small-12, .c1-right .small-12{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.c1-left .small-12{
    margin-bottom: 40px;
}

.c1-right .icon{
    width: 6em;
    height: 8em;
    font-size: 10px;
    color: #2d3038;
}

.about{
    height: 100%;
    background: #393e46;
    position: relative;
    z-index: 1;
}

.ab-left{
    height: 100%;
    position: relative;
}

.ab-right{
    background: white;
    height: 100%;
    z-index: -2;
    position: relative;
}

.ab-title{
    font-family: "Lato",sans-serif;
    font-weight: 700;
    color: #f26c4f;
    font-size: 47px;
    text-transform: uppercase;
    padding: 100px;
    padding-right:150px ;
    max-height: 300px;
    padding-top: 20px;
}

.abl-image{
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: -1;
}

.abr-quote{
    font-family: "Open Sans",sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 15%;
    width: 50%;
    right: 0;
    padding: 5px;
    border-top: 1px solid #000000;
    text-transform: uppercase;
}

.abr-detail{
    font-family: "Open Sans",sans-serif;
    color: #798285;
    font-size: 14px;
    position: absolute;
    bottom: 20%;
}

.news{
    height: 100%;
    position: relative;
}

.ne-back{
    background: url("../images/news-item.jpg") 0 0 repeat;
    background-size: cover;
    width: 100%;
    min-height: 350px;
}

.ne-back img{
    width: 100%;
}

.ne-content{
    position: absolute;
    /*top: 214px;*/
    top: 26%;
    width: 100%;
    height: 100%;
}

.ne-title{
    border-bottom: 1px solid white;
    width: 10%;
    margin-bottom: 30px;

}

.ne-title h1{
    margin: 0;
    font-family: "Lato",sans-serif;
    font-size: 36px;
    color: white;
    padding: 5px;
    text-align: right;
    text-transform: uppercase;
}

.ne-detail{
    height: 100%;
}

.ned-content{
    position: relative;
    top: -54px;
    height: 100%;
    width: 100%;
}

.ned-content .small-12{
    height: 100%;
}



.nedc-title{
    padding: 0;
    background: rgba(242,108,79,0.75);
    height: 54px;
    font-size: 26px;
    color: white;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    line-height: 1;
    padding-left: 10px;
}

.nedc-detail{
    border-right: 1px solid #f26c4f;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    color: #6a7883;
    font-family: "Open Sans",sans-serif;
}

.ned-content .last-history .nedc-detail{
    border-right: none;
}

.second .nedc-title{
    background: rgba(32,161,132,0.75);
}

.third .nedc-title{
    background: rgba(58,77,105,0.75);
}

.last-history .nedc-title{
    background: rgba(61,128,150,0.75);
}

.culture-1 .gallery{
    height: 100%;
    width: 100%;
    background: url("../images/cat-photos.jpg") #2f2f2f 0 0 no-repeat;
}

.gal-content-2{
    width: 100%;
    position: relative;
}

.mai-category{
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: 1;
}

.mai-category-2{
    position: absolute;
    width: 100%;
    top: 0;
}

.galc-middle{
    background: white;
}

.galc-wrapper{
    position: relative;
    height: 100%;
}

.video{
    position: relative;
}

#video-prev{
    width: 109px;
    float: left;
}

#video-next{
    width: 109px;
    float: right;
}

.cv-content{
    width: 100%;
    position: absolute;
    height: 100%;
}

.cv-content .row{
    margin-top: 5%;
    background: rgba(0,0,0,0.5);
    height: 544px;
    max-width: 1035px;
}

.cvc-slider .bx-wrapper .bx-viewport{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0;
    background: transparent;
}

.cvc-slider .bx-wrapper {
    margin-bottom: 10px;
}

.cvc-wrap{
    margin-top: 50px;
}

.cvc-detail{
    background: white;
    padding-top: 50px;
    min-height: 350px;
}

.cvc-item{
    background: #f26c4f;
}

.cvd-title{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #475055;
}

.cvd-date{
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #a3abaf;
    margin-bottom: 20px;
}

.cvd-content{
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #475055;
    margin-bottom: 20px;
}

.va-prev{
    position: relative;
    background: url("../images/video-prev.png")center no-repeat;
    min-width: 107px;
    min-height: 109px;
    background-size: contain;
    float: left;
}

.va-next{
    position: relative;
    background: url("../images/video-next.png")center no-repeat;
    min-width: 107px;
    min-height: 109px;
    background-size: contain;
    float: left;
}

.va-preview-left, .va-preview-right{
    float: right;
    display: none;
}

.va-preview-right{
    float: left;
}

.vap-top{
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 9px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.vap-bottom{
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: white;
    font-size: 12px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

#video-prev:hover .va-prev{
    background: url("../images/video-prev-hover.png")center no-repeat;
}

#video-next:hover .va-next{
    background: url("../images/video-next-hover.png")center no-repeat;
}

#video-prev:hover .va-prev .vap-top, #video-prev:hover .va-prev .vap-bottom{
    color: #000000;
}

#video-prev:hover{
    width: 214px;
}

#video-next:hover{
    width: 214px;
}

#video-prev:hover .va-preview-left{
    display: block;
}

#video-next:hover .va-preview-left{
    display: block;
}

/* Contact */

.contact-wrap{
    background: #2d343a;
    height: 200%;
}

.contact-wrapper {
    background: url("../images/map-background.jpg") top center no-repeat;
    background-size: cover;
    width: 100%;
}

.cw-excerpt{
    font-family: "fabioloregular",sans-serif;
    font-size: 24px;
    color: white;
    padding-top: 80px;
}

.cwc-step{
    font-size: 30px;
    color: #ed1c24;
    font-family: "fabioloregular",sans-serif;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cwc-dropcap{
    font-size: 60px;
    color: white;
    float: left;
    margin-right: 5px;
}

.cwc-detail{
    color: white;
    font-size: 18px;
    font-family: "fabioloregular",sans-serif;
}

#contact-message{
    resize: none;
    height: 110px;
}

.cwc-form ::-webkit-input-placeholder {
    font-style: italic;
}

.cwc-form :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

.cwc-form ::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}

.cwc-form :-ms-input-placeholder {
    font-style: italic;
}

.cwc-form input, .cwc-form textarea{
    color: #707070;
}

.cwc-form button{
    padding: 11px 30px ;
    background: #ed1c24;
    color: white;
    font-size: 18px;
    font-family: "fabioloregular",sans-serif;
    margin-top: 15px;

}

.detail-project, .detail-category{
    background: #6a7883;
}

.detail-project .row, .detail-category .row{
    background: white;
    font-family: "Myriad Pro",sans-serif;
    color: #3f4951;
    font-size: 14px;
    padding-top: 50px;

}

.dp-title, .dp-type, .dp-date, .dp-client{
    padding-left: 50px;
    margin-bottom: 20px;
}

.dp-client{
    text-align: center;
}

.back-top{
    margin-top: 20px;
    margin-bottom: 70px;
}

.detail-project h1, .dc-title h1{
    font-size: 24px;
    text-transform: uppercase;
}

.dp-name{
    color: #6a7883;
}

.dp-item{
    color: #3f4951;
}

.dc-title{
    text-align: center;
}

.dc-desc{
    font-family: 'Merriweather',serif;
    color: #666666;
    font-size: 12px;
    text-align: center;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 20px;
}

.dc-image{
    padding-bottom: 90px;
}

.news-title h1{
    color: #343333;
    font-size: 48px;
    font-family: "Lato",sans-serif;
    font-weight: 700;
}

.news-date{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #adb3b4;
}

.news-headline, .news-content{
    font-size: 20px;
    font-family: "Lato",sans-serif;
    color: #666d70;
    margin-top: 30px;
    margin-bottom: 30px;
}

.news-content{
    margin-bottom: 75px;
    margin-top: 50px;
}

.component nav{
    position: absolute;
    top: 50%;
    width: 100%;
}




@media screen and (max-width: 1440px) {
    .nm-item, .nm-culture, .nm-normal {
        padding: 4px;
    }

    .ab-title{
        font-size: 34px;
    }

    .nav-menu{
        float: none;
    }

    .cv-content .row{
        margin-top: 8%;
    }

    .abr-detail {
        width: 70%;
        left: 15%;
        bottom: 8%;
    }

    .cap-desc-wrap {
        position: relative;
        max-height: 700px;
    }

    .cap-desc-wrap .sign{
        bottom: 0;
    }
}

@media screen and (max-width: 64em) {
    .nm-item a, .nm-culture a, .nm-normal a{
        padding: 5px;
        font-size: 14px;
    }
    .ab-left{
        padding: 80px;
        padding-right:100px ;
    }

    .ab-title{
        font-size: 36px;
    }
    
    .abr-detail{
        bottom: 10%;
    }

    .ne-content{
        top: 22.5%;
    }

    .nedc-title{
        font-size: 16px;
    }

    .cw-excerpt{
        font-family: "fabioloregular",sans-serif;
        font-size: 24px;
        color: white;
        padding-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .ne-content{
        top: 25.5%;
    }
}