{% block frontend_content %}
    <html>
    <body>
    <div>
        <p>Dear PT. MicroAd Indonesia's administrator,</p>
        <p>Visitor with details below, left a message: </p>
        <p>Name : {{ name }}</p>
        <p>Email : {{ email }}</p>
        <p>Message: {{ message }}</p>
    </div>
    </body>
    </html>
{% endblock %}