{% block frontend_content %}
    Dear {{ name }}, <br/><br/>
    Thank you for contacting us,<br/>
    our sales team would be contacting you as soon as possible<br/><br/>
    Best Regards,<br/><br/><br/>
    PT. MicroAd Indonesia
    <div><img src="https://postimg.org/image/ynhb45hrx/" alt="city"/></div>
{% endblock %}